.cart-page {
  margin-top: 64px;
}

.cart-page h1 {
  padding: 15px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  background-color: rgba(128, 128, 128, 0.2) !important; /* Light gray background for the heading */
}

.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
  color: rgb(90, 90, 90); /* Dark gray color for the paragraph */
}

.cart-page .card {
  padding: 5px !important;
  height: 150px !important;
  margin-bottom: 5px !important;
  background-color: #fff; /* White background for the card */
  border: 1px solid rgba(128, 128, 128, 0.3); /* Gray border for the card */
}

.cart-page .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-page .cart-summary {
  text-align: center;
}
